@font-face {
    font-family: 'RobotoMono';
    src:url(../fontes/RobotoMono-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src:url(../fontes/RobotoMono-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'RobotoMono';
    src:url(../fontes/RobotoMono-Light.ttf);
    font-weight: 300;
}