<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <title>Health Track</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../images/coracao.png">
                <h2>Health Track</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                        <a href="#">Perfil</a>
                    </li>
                    <li>
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <a href="#">Gerenciar peso e altura</a>
                    </li>
                    <li>
                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                        <a href="#">Gerenciar pressão arterial</a>
                    </li>
                    <li>
                        <i class="fa fa-bicycle" aria-hidden="true"></i>
                        <a href="#">Gerenciar atividade física</a>
                    </li>
                    <li>
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                        <a href="#">Gerenciar alimentos</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="#"> <i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
                <a href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="panel">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare orci id tellus mattis facilisis.
                    Donec dui nisl, maximus sed lectus sed, volutpat bibendum dolor. Morbi laoreet, lacus eget lacinia mollis,
                    turpis nulla elementum libero, quis dictum nibh risus id purus. Vivamus non leo ullamcorper,
                    volutpat massa sed, suscipit mauris. Proin ac eleifend massa. Duis et dolor at mauris porttitor hendrerit.
                    Fusce egestas purus sed purus vulputate, ut sagittis nisl rutrum. Quisque congue maximus sem.
                    Duis sit amet posuere quam. Donec pretium diam venenatis luctus porttitor.
                    Cras tellus arcu, rhoncus sollicitudin placerat sit amet, bibendum sed purus. Quisque eleifend libero finibus,
                    viverra lacus quis, egestas libero. Donec sagittis molestie sem, at tempus elit aliquet sed.
                    Nunc faucibus ac augue a egestas.
                </div>
                <div class="panel">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare orci id tellus mattis facilisis.
                    Donec dui nisl, maximus sed lectus sed, volutpat bibendum dolor. Morbi laoreet, lacus eget lacinia mollis,
                    turpis nulla elementum libero, quis dictum nibh risus id purus. Vivamus non leo ullamcorper,
                    volutpat massa sed, suscipit mauris. Proin ac eleifend massa. Duis et dolor at mauris porttitor hendrerit.
                    Fusce egestas purus sed purus vulputate, ut sagittis nisl rutrum. Quisque congue maximus sem.
                    Duis sit amet posuere quam. Donec pretium diam venenatis luctus porttitor.
                    Cras tellus arcu, rhoncus sollicitudin placerat sit amet, bibendum sed purus. Quisque eleifend libero finibus,
                    viverra lacus quis, egestas libero. Donec sagittis molestie sem, at tempus elit aliquet sed.
                    Nunc faucibus ac augue a egestas.
                </div>
                <div class="panel">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare orci id tellus mattis facilisis.
                    Donec dui nisl, maximus sed lectus sed, volutpat bibendum dolor. Morbi laoreet, lacus eget lacinia mollis,
                    turpis nulla elementum libero, quis dictum nibh risus id purus. Vivamus non leo ullamcorper,
                    volutpat massa sed, suscipit mauris. Proin ac eleifend massa. Duis et dolor at mauris porttitor hendrerit.
                    Fusce egestas purus sed purus vulputate, ut sagittis nisl rutrum. Quisque congue maximus sem.
                    Duis sit amet posuere quam. Donec pretium diam venenatis luctus porttitor.
                    Cras tellus arcu, rhoncus sollicitudin placerat sit amet, bibendum sed purus. Quisque eleifend libero finibus,
                    viverra lacus quis, egestas libero. Donec sagittis molestie sem, at tempus elit aliquet sed.
                    Nunc faucibus ac augue a egestas.
                </div>
                <div class="panel">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare orci id tellus mattis facilisis.
                    Donec dui nisl, maximus sed lectus sed, volutpat bibendum dolor. Morbi laoreet, lacus eget lacinia mollis,
                    turpis nulla elementum libero, quis dictum nibh risus id purus. Vivamus non leo ullamcorper,
                    volutpat massa sed, suscipit mauris. Proin ac eleifend massa. Duis et dolor at mauris porttitor hendrerit.
                    Fusce egestas purus sed purus vulputate, ut sagittis nisl rutrum. Quisque congue maximus sem.
                    Duis sit amet posuere quam. Donec pretium diam venenatis luctus porttitor.
                    Cras tellus arcu, rhoncus sollicitudin placerat sit amet, bibendum sed purus. Quisque eleifend libero finibus,
                    viverra lacus quis, egestas libero. Donec sagittis molestie sem, at tempus elit aliquet sed.
                    Nunc faucibus ac augue a egestas.
                </div>
                <div class="panel">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare orci id tellus mattis facilisis.
                    Donec dui nisl, maximus sed lectus sed, volutpat bibendum dolor. Morbi laoreet, lacus eget lacinia mollis,
                    turpis nulla elementum libero, quis dictum nibh risus id purus. Vivamus non leo ullamcorper,
                    volutpat massa sed, suscipit mauris. Proin ac eleifend massa. Duis et dolor at mauris porttitor hendrerit.
                    Fusce egestas purus sed purus vulputate, ut sagittis nisl rutrum. Quisque congue maximus sem.
                    Duis sit amet posuere quam. Donec pretium diam venenatis luctus porttitor.
                    Cras tellus arcu, rhoncus sollicitudin placerat sit amet, bibendum sed purus. Quisque eleifend libero finibus,
                    viverra lacus quis, egestas libero. Donec sagittis molestie sem, at tempus elit aliquet sed.
                    Nunc faucibus ac augue a egestas.
                </div>
                <div class="panel">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare orci id tellus mattis facilisis.
                    Donec dui nisl, maximus sed lectus sed, volutpat bibendum dolor. Morbi laoreet, lacus eget lacinia mollis,
                    turpis nulla elementum libero, quis dictum nibh risus id purus. Vivamus non leo ullamcorper,
                    volutpat massa sed, suscipit mauris. Proin ac eleifend massa. Duis et dolor at mauris porttitor hendrerit.
                    Fusce egestas purus sed purus vulputate, ut sagittis nisl rutrum. Quisque congue maximus sem.
                    Duis sit amet posuere quam. Donec pretium diam venenatis luctus porttitor.
                    Cras tellus arcu, rhoncus sollicitudin placerat sit amet, bibendum sed purus. Quisque eleifend libero finibus,
                    viverra lacus quis, egestas libero. Donec sagittis molestie sem, at tempus elit aliquet sed.
                    Nunc faucibus ac augue a egestas.
                </div>
            </div>
        </main>
    </div>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>